footer {

  background-image: linear-gradient(to right, rgb(194, 126, 126), rgb(209, 209, 187));
}


.col-3 img {

  height: 30px;

  &:hover {

    transform: scale(1.5);
    transition: all 1s;
    cursor: pointer;
  }
}