/*Fuentes*/
@font-face {
  font-family: Dancing Script;
  src: url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Indie+Flower&family=Pacifico&display=swap');
  font-display: swap;
}
@font-face {
  font-family: roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
  font-display: swap;
}

